#map {
    width: 600px;
    margin: auto;
    transform: scale(1.2, 1.2);
    transform-origin: top center;
}

.map-container {
    width: 100%;
    background-color: whitesmoke;
    height: 720px;
}

#number {
    position: absolute;
    top: 300px;
    left: 50px;
    padding: 20px;
    box-shadow: 2px 2px 6px 0px lightgrey;
    background-color: white;
}

#number h2 {
    font-weight: 600;
    color: #007bff;
    font-size: 3.0em;
    margin: 0;
}

h1 {
    padding: 20px;
    font-size: 3.5em !important;
    color: black;
    text-align: center;
    color: #007bff !important;
    font-weight: 700 !important;
}

.district {
    stroke: #fff;
    fill: #007bff;
}

.district:hover {
    fill: whitesmoke;
    stroke: #007bff;
}

.district-active {
    fill: #dc3545 !important;
}

#data {
  margin-left: 50px;
}
