#map {
    position: relative;
    top: 100px;
}

#number {
    position: absolute;
    top: 10%;
    left: 7%;
    font-size: 3.0em;
    color: #7e7e7e;
}

h1 {
    position: absolute;
    left: 5%;
    top: 1%;
    font-size: 3.5em;
    color: black;
}

h2 {
    left: 8%;
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: white;
    box-shadow: 5px 10px 5px #888888;
}

.district {
    stroke: #fff;
    fill: #7e7e7e;
}
