<!DOCTYPE html>
<meta charset="utf-8">

<style>

path {

  stroke: #000;
  stroke-width: .5;
  stroke-dasharray: 1;
  fill: #add8e6;

}

#neighborhoodPopover {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 19px sans-serif;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

</style>

<body>
  <svg width="960" height="720" style="float: left"></svg>
  <div id='neighborhoodPopover'> </div>
  <div id='subwayData' style="padding-top: 10%;">
    <p> Choose what your graph would like to be based on:
    <select>
      <option value="Traffic">Traffic at</option>
      <option value="Wifi">Wifi at</option>
      <option value="Social Media">Social Media at</option>
    </select>

    <b id="neighborhood"> </b>
    <br> <br>
    <br>
    <form action="/graph" method="GET">
      <button type = "submit"> Generate graph </button>
          </form>
    <p id="directions"></p>
  </div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var neighborhood = "";
var directions = "";

// http://data.beta.nyc//dataset/0ff93d2d-90ba-457c-9f7e-39e47bf2ac5f/resource/35dd04fb-81b3-479b-a074-a27a37888ce7/download/d085e2f8d0b54d4590b1e7d1f35594c1pediacitiesnycneighborhoods.geojson
d3.json("{{ url_for('static', filename='nyc.json') }}", function(error, nyc) {
  if (error) throw error;

  var path = d3.geoPath()
      .projection(d3.geoConicConformal()
      .parallels([33, 45])
      .rotate([96, -39])
      .fitSize([width, height], nyc));

  svg.selectAll("path")
      .data(nyc.features)
      .enter().append("path")
      .attr("d", path)
      .on("mouseenter", function(d) {
        // console.log(d);
      neighborhood = d.properties.neighborhood
      // console.log(neighborhood)

      d3.json("subway.json", function(error, subway) {
        directions = subway["data"][0][10] + " " + subway["data"][0][12]  +  " " + subway["data"][0][13]
      }
    )

      d3.select(this)
      .style("stroke-width", 1.5)
      .style("stroke-dasharray", 0)

      d3.select("#neighborhoodPopover")
      .transition()
      .style("opacity", 10)
      .style("left", (d3.event.pageX) + "px")
      .style("top", (d3.event.pageY) + "px")
      .text(d.properties.neighborhood)


      d3.select("#neighborhood")
      .transition()
      .style("opacity", 1)
      .style("left", (d3.event.pageX) + "px")
      .style("top", (d3.event.pageY) + "px")
      .text(d.properties.neighborhood)

      d3.select("#directions")
      .transition()
      .style("opacity", 1)
      .style("left", (d3.event.pageX) + "px")
      .style("top", (d3.event.pageY) + "px")
      .text(directions)

    })
    .on("mouseleave", function(d) {
      d3.select(this)
      .style("stroke-width", .25)
      .style("stroke-dasharray", 1)

      d3.select("#cneighborhoodPopoverountyText")
      .transition()
      .style("opacity", 0);
    });

    // console.log(nyc);

});



</script>
</body>
