<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link href = "{{ url_for('static', filename='css/styles.css') }}" rel = "stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://d3js.org/queue.v1.min.js"></script>
    </head>
    <body>
        <h1>NYC School District Survey Results</h1>

        <div class = "map-container">
            <div id="number">
                <h2>Select a District</h2>
            </div>
            <div id="map"></div>
        </div>

        <div class = "container data-container">
            <h2>Survey Data for District <span id = "district-num"></span></h2>
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Select a Survery Question</label>
            <select class="custom-select my-1 mr-sm-2" id="question-select"></select>
            <div id="chart"></div>
        </div>

        <script src="http://d3js.org/topojson.v1.min.js"></script>
        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    </body>
</html>
