<div id="chart"></div>

<style>
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono);

.slice text {
   font-family: Droid Sans;
}
</style>

<script src="http://d3js.org/d3.v3.min.js"></script>

<script>
var w = 400;
var h = 400;
var r = h/2;
var aColor = [
    'rgb(178, 55, 56)',
    'rgb(213, 69, 70)',
    'rgb(230, 125, 126)',
    'rgb(239, 183, 182)'
]
// THIS IS WHERE YOU WOULD PUT THE VALUES FROM THE SCHOOL HERE.
// THIS IS WHERE YOU WOULD PUT THE VALUES FROM THE SCHOOL HERE.
// THIS IS WHERE YOU WOULD PUT THE VALUES FROM THE SCHOOL HERE.
// THIS IS WHERE YOU WOULD PUT THE VALUES FROM THE SCHOOL HERE.

var data = [
    {"value":14},
    {"value":12},
    {"value":7},
    {"value":7}
];


var vis = d3.select('#chart').append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");

var pie = d3.layout.pie().value(function(d){return d.value;});

// Declare an arc generator function
var arc = d3.svg.arc().outerRadius(r);

// Select paths, use arc generator to draw
var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
arcs.append("svg:path")
    .attr("fill", function(d, i){return aColor[i];})
    .attr("d", function (d) {return arc(d);})
;

// Add the text
arcs.append("svg:text")
    .attr("transform", function(d){
        d.innerRadius = 10; /* Distance of label to the center*/
        d.outerRadius = r;
        return "translate(" + arc.centroid(d) + ")";}
    )
    .attr("text-anchor", "middle")
    .text( function(d, i) {return data[i].value + '%';})
;
</script>
